MONGODB_URI=your_mongodb_connection_string
NODE_ENV=development
MONGODB=
GMAIL_EMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
API_KEY=your_api_key

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_PROJECT_ID=poetic-inkwell-364417
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_AUTH_PROVIDER_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GOOGLE_CLIENT_SECRET=your_google_client_secret